@font-face {
    font-family: 'Mellow Burgundy';
    src: url(MellowBurgundyDemoRegular-0WrXr.ttf);
}

@font-face {
    font-family: 'Oishu Taveny';
    src: url(OishuTaveny-2vLR3.ttf);
}

html
{
    scroll-behavior: smooth;
}


/*   DESIGNING MOBILE FIRST   */

/*/// MOBILE, 320-480px ///*/
@media screen and (min-width: 320px) and (max-width: 480px)
{


/*  TOP /blank for now/ actual header   */

header
{
height: 50px;
}

/*   Visible "Header"  */

.Intro
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Intro_Pfp img
{
height: 100px;
width: auto;
}

.Intro_Name
{

}

.Intro_Name p
{
    font-family: 'Mellow Burgundy';
    font-size: 60px;
    margin: 0;
    margin-top: 6.5px;
    color: #f1b900;
}


/*   Links  */

.Links
{
height: 30px;
display: flex;
justify-content: center;
align-items: center;
}

.Links_Contact
{
    text-decoration: none;
   /*  color: #e24a08;*/
    color: #f35b56;
    font-size: 25px;
    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
}



/*   Gallery  */

.Gallery
{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 45px;

}

.Gallery a 
{

}

/*   create this size thumbnail and upload indivdually instead of cropping so i can make the thumbnail look better, and 
ROUND the edges   */
.Gallery a img
{
    height: 190px;
    width: 170px;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 5px;
}


/*   Conclusion Call to Action  */

.Collab
{
    padding-top: 40px;
    height: 450px;
}

.Collab_Q 
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.Collab_Q p
{
    font-family: 'Mellow Burgundy';
    font-size: 68px;
    margin: 0;
    margin-top: 6.5px;
    color: #f1b900;
    padding-right: 80px;
    position: relative;
    top: 20px;
}

.Collab_Q p:nth-child(2)
{
    font-family: 'Mellow Burgundy';
    font-size: 68px;
    margin: 0;
    margin-top: 6.5px;
    color: #f1b900;
    padding-left: 140px;
    position: relative;
    top: -2px;
}


.Collab_Action
{
    display:flex;
    justify-content: center;
}

.Collab_Action p
{
    color: #f35b56;
    font-size: 30px;
    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding-right: 80px;
    position: relative;
    top: -10px;
}

.Collab_Email 
{
    display: flex;
    justify-content: center;
}


.Collab_Email p
{
    color: #e47394;
    font-size: 43px;
    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    position: relative;
    top: -10px;
}

.Collab_Socials
{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 25px;
}

.Collab_Socials img
{
    height: 50px;
    width: auto;
    padding-bottom: 10px;
    padding-left: 28px;
    padding-right: 28px;
    
}

.Collab_Socials_Main a
{
        text-decoration: none;
}

.Collab_Socials_Second a
{
        text-decoration: none;
}

.Collab_Socials_Third
{
    
}

/*   Footer  */

footer
{


    display: flex;

}

.footer_Credits
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;

    height: 30px;
}

.footer_Credits p:nth-child(1)
{
    margin: 0;
}

.footer_Credits p:nth-child(2)
{
    margin: 0;
}

.footer_Credits p:nth-child(3)
{
    margin: 0;
        font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footer_Credits p:nth-child(4)
{
    margin: 0;
}

.footer_BackToTop
{

}






}

@media screen and (min-width: 481px) and (max-width: 647px)
{


/*  TOP /blank for now/ actual header   */

header
{
height: 50px;
}

/*   Visible "Header"  */

.Intro
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Intro_Pfp img
{
height: 100px;
width: auto;
}

.Intro_Name
{

}

.Intro_Name p
{
    font-family: 'Mellow Burgundy';
    font-size: 60px;
    margin: 0;
    margin-top: 6.5px;
    color: #f1b900;
}


/*   Links  */

.Links
{
height: 30px;
display: flex;
justify-content: center;
align-items: center;
}

.Links_Contact
{
    text-decoration: none;
   /*  color: #e24a08;*/
    color: #f35b56;
    font-size: 25px;
    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
}



/*   Gallery  */

.Gallery
{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 45px;

}

.Gallery a 
{

}

/*   create this size thumbnail and upload indivdually instead of cropping so i can make the thumbnail look better, and 
ROUND the edges   */
.Gallery a img
{
    height: 190px;
    width: 170px;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 5px;
}


/*   Conclusion Call to Action  */

.Collab
{
    padding-top: 40px;
    height: 450px;
}

.Collab_Q 
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.Collab_Q p
{
    font-family: 'Mellow Burgundy';
    font-size: 50px;
    margin: 0;
    margin-top: 6.5px;
    color: #f1b900;
    padding-right: 80px;
    position: relative;
    top: 20px;
}

.Collab_Q p:nth-child(2)
{
    font-family: 'Mellow Burgundy';
    font-size: 50px;
    margin: 0;
    margin-top: 6.5px;
    color: #f1b900;
    padding-left: 140px;
    position: relative;
    top: -2px;
}


.Collab_Action
{
    display:flex;
    justify-content: center;
}

.Collab_Action p
{
    color: #f35b56;
    font-size: 25px;
    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding-right: 80px;
    position: relative;
    top: -10px;
}

.Collab_Email 
{
    display: flex;
    justify-content: center;
}


.Collab_Email p
{
    color: #e47394;
    font-size: 27px;
    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    position: relative;
    top: -10px;
}

.Collab_Socials
{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 25px;
}

.Collab_Socials img
{
    height: 50px;
    width: auto;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.Collab_Socials_Main a
{
        text-decoration: none;
}

.Collab_Socials_Second a
{
        text-decoration: none;
}

.Collab_Socials_Third
{
    
}

/*   Footer  */

footer
{


    display: flex;

}

.footer_Credits
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;

    height: 30px;
}

.footer_Credits p:nth-child(1)
{
    margin: 0;
}

.footer_Credits p:nth-child(2)
{
    margin: 0;
}

.footer_Credits p:nth-child(3)
{
    margin: 0;
        font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footer_Credits p:nth-child(4)
{
    margin: 0;
}

.footer_BackToTop
{

}






}



/*/// iPads, Tablets, 481 (648)-768px ///*/
@media screen and (min-width: 648px) and (max-width: 768px)
{
/*  TOP /blank for now/ actual header   */

header
{
height: 50px;
}

/*   Visible "Header"  */

.Intro
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Intro_Pfp img
{
height: 170px;
width: auto;
}

.Intro_Name
{

}

.Intro_Name p
{
    font-family: 'Mellow Burgundy';
    font-size: 108px;
    margin: 0;
    margin-top: 15px;
    color: #f1b900;
}


/*   Links  */

.Links
{
height: 30px;
display: flex;
justify-content: center;
align-items: center;
}

.Links_Contact
{
    text-decoration: none;
   /*  color: #e24a08;*/
    color: #f35b56;
    font-size: 30px;
    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
}



/*   Gallery  */

.Gallery
{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 45px;
    column-gap: 40px;
    row-gap: 40px;

    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
}

.Gallery a 
{

}

/*   create this size thumbnail and upload indivdually instead of cropping so i can make the thumbnail look better, and 
ROUND the edges   */
.Gallery a img
{
    height: 285px;
    width: 255px;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 5px;
}


/*   Conclusion Call to Action  */

.Collab
{
    padding-top: 40px;

}

.Collab_Q 
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.Collab_Q p
{
    font-family: 'Mellow Burgundy';
    font-size: 90px;
    margin: 0;
    margin-top: 6.5px;
    color: #f1b900;
    padding-right: 140px;
    position: relative;
    top: 20px;
}

.Collab_Q p:nth-child(2)
{
    font-family: 'Mellow Burgundy';
    font-size: 90px;
    margin: 0;
    margin-top: 6.5px;
    color: #f1b900;
    padding-left: 280px;
    position: relative;
    top: -2px;
}


.Collab_Action
{
    display:flex;
    justify-content: center;
}

.Collab_Action p
{
    color: #f35b56;
    font-size: 35px;
    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding-right: 150px;
    position: relative;
    top: -20px;
}

.Collab_Email 
{
    display: flex;
    justify-content: center;
}


.Collab_Email p
{
    color: #e47394;
    font-size: 60px;
    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    position: relative;
    top: 0px;
}

.Collab_Socials
{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 75px;

}

.Collab_Socials img
{
    height: 63px;
    width: auto;
    padding-bottom: 30px;
    padding-left: 70px;
    padding-right: 70px;
    
}

.Collab_Socials_Main a
{
        text-decoration: none;
}

.Collab_Socials_Second a
{
        text-decoration: none;
}


.Collab_Socials_Third img:nth-child(1)
{
    position: relative;
    left:-103px;
}

.Collab_Socials_Third img:nth-child(2)
{
    position: relative;
    right:-105px;
}

/*   Footer  */

footer
{


    display: flex;
height: 60px;
}

.footer_Credits
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;

    
}

.footer_Credits p:nth-child(1)
{
    margin: 0;
}

.footer_Credits p:nth-child(2)
{
    margin: 0;
}

.footer_Credits p:nth-child(3)
{
    margin: 0;
        font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footer_Credits p:nth-child(4)
{
    margin: 0;
}

.footer_BackToTop
{

}

}



/*/// Small Screens, Laptops, 769-1024px ///*/
@media screen and (min-width: 769px) and (max-width: 1024px)
{
/*  TOP /blank for now/ actual header   */

header
{
height: 50px;
}

/*   Visible "Header"  */

.Intro
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Intro_Pfp img
{
height: 170px;
width: auto;
}

.Intro_Name
{

}

.Intro_Name p
{
    font-family: 'Mellow Burgundy';
    font-size: 108px;
    margin: 0;
    margin-top: 15px;
    color: #f1b900;
}


/*   Links  */

.Links
{
height: 30px;
display: flex;
justify-content: center;
align-items: center;
}

.Links_Contact
{
    text-decoration: none;
   /*  color: #e24a08;*/
    color: #f35b56;
    font-size: 30px;
    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
}



/*   Gallery  */

.Gallery
{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 45px;
    column-gap: 40px;
    row-gap: 40px;

    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
}

.Gallery a 
{

}

/*   create this size thumbnail and upload indivdually instead of cropping so i can make the thumbnail look better, and 
ROUND the edges   */
.Gallery a img
{
    height: 285px;
    width: 255px;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 5px;
}


/*   Conclusion Call to Action  */

.Collab
{
    padding-top: 40px;

}

.Collab_Q 
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.Collab_Q p
{
    font-family: 'Mellow Burgundy';
    font-size: 90px;
    margin: 0;
    margin-top: 6.5px;
    color: #f1b900;
    padding-right: 140px;
    position: relative;
    top: 20px;
}

.Collab_Q p:nth-child(2)
{
    font-family: 'Mellow Burgundy';
    font-size: 90px;
    margin: 0;
    margin-top: 6.5px;
    color: #f1b900;
    padding-left: 280px;
    position: relative;
    top: -2px;
}


.Collab_Action
{
    display:flex;
    justify-content: center;
}

.Collab_Action p
{
    color: #f35b56;
    font-size: 35px;
    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding-right: 150px;
    position: relative;
    top: -20px;
}

.Collab_Email 
{
    display: flex;
    justify-content: center;
}


.Collab_Email p
{
    color: #e47394;
    font-size: 60px;
    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    position: relative;
    top: 0px;
}

.Collab_Socials
{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 75px;

}

.Collab_Socials img
{
    height: 63px;
    width: auto;
    padding-bottom: 25px;
    padding-left: 70px;
    padding-right: 70px;
    
}

.Collab_Socials_Main a
{
        text-decoration: none;
}

.Collab_Socials_Second a
{
        text-decoration: none;
}


.Collab_Socials_Third img:nth-child(1)
{
    position: relative;
    left:-103px;
}

.Collab_Socials_Third img:nth-child(2)
{
    position: relative;
    right:-105px;
}

/*   Footer  */

footer
{


    display: flex;
height: 60px;
}

.footer_Credits
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;

    
}

.footer_Credits p:nth-child(1)
{
    margin: 0;
}

.footer_Credits p:nth-child(2)
{
    margin: 0;
}

.footer_Credits p:nth-child(3)
{
    margin: 0;
        font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footer_Credits p:nth-child(4)
{
    margin: 0;
}

.footer_BackToTop
{

}
}


/*/// Desktops, Large Screens, 1025-1200 px ///*/
@media screen and (min-width: 1025px) and (max-width: 1200px) 
{
/*  TOP /blank for now/ actual header   */

header
{
height: 50px;
}

/*   Visible "Header"  */

.Intro
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Intro_Pfp img
{
height: 170px;
width: auto;
}

.Intro_Name
{

}

.Intro_Name p
{
    font-family: 'Mellow Burgundy';
    font-size: 108px;
    margin: 0;
    margin-top: 15px;
    color: #f1b900;
}


/*   Links  */

.Links
{
height: 30px;
display: flex;
justify-content: center;
align-items: center;
}

.Links_Contact
{
    text-decoration: none;
   /*  color: #e24a08;*/
    color: #f35b56;
    font-size: 30px;
    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
}



/*   Gallery  */

.Gallery
{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 45px;
    column-gap: 40px;
    row-gap: 40px;

    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
}

.Gallery a 
{

}

/*   create this size thumbnail and upload indivdually instead of cropping so i can make the thumbnail look better, and 
ROUND the edges   */
.Gallery a img
{
    height: 285px;
    width: 255px;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 5px;
}


/*   Conclusion Call to Action  */

.Collab
{
    padding-top: 40px;

}

.Collab_Q 
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.Collab_Q p
{
    font-family: 'Mellow Burgundy';
    font-size: 90px;
    margin: 0;
    margin-top: 6.5px;
    color: #f1b900;
    padding-right: 140px;
    position: relative;
    top: 20px;
}

.Collab_Q p:nth-child(2)
{
    font-family: 'Mellow Burgundy';
    font-size: 90px;
    margin: 0;
    margin-top: 6.5px;
    color: #f1b900;
    padding-left: 280px;
    position: relative;
    top: -2px;
}


.Collab_Action
{
    display:flex;
    justify-content: center;
}

.Collab_Action p
{
    color: #f35b56;
    font-size: 35px;
    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding-right: 150px;
    position: relative;
    top: -20px;
}

.Collab_Email 
{
    display: flex;
    justify-content: center;
}


.Collab_Email p
{
    color: #e47394;
    font-size: 60px;
    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    position: relative;
    top: 0px;
}

.Collab_Socials
{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 75px;

}

.Collab_Socials img
{
    height: 63px;
    width: auto;
    padding-bottom: 25px;
    padding-left: 70px;
    padding-right: 70px;
    
}

.Collab_Socials_Main a
{
        text-decoration: none;
}

.Collab_Socials_Second a
{
        text-decoration: none;
}


.Collab_Socials_Third img:nth-child(1)
{
    position: relative;
    left:-103px;
}

.Collab_Socials_Third img:nth-child(2)
{
    position: relative;
    right:-105px;
}

/*   Footer  */

footer
{


    display: flex;
height: 60px;
}

.footer_Credits
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;

    
}

.footer_Credits p:nth-child(1)
{
    margin: 0;
}

.footer_Credits p:nth-child(2)
{
    margin: 0;
}

.footer_Credits p:nth-child(3)
{
    margin: 0;
        font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footer_Credits p:nth-child(4)
{
    margin: 0;
}

.footer_BackToTop
{

}
}

/*/// 1201+++ px ///*/
@media screen and (min-width: 1201px) 
{
/*  TOP /blank for now/ actual header   */

header
{
height: 50px;
}

/*   Visible "Header"  */

.Intro
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Intro_Pfp img
{
height: 170px;
width: auto;
}

.Intro_Name
{

}

.Intro_Name p
{
    font-family: 'Mellow Burgundy';
    font-size: 108px;
    margin: 0;
    margin-top: 15px;
    color: #f1b900;
}


/*   Links  */

.Links
{
height: 30px;
display: flex;
justify-content: center;
align-items: center;
}

.Links_Contact
{
    text-decoration: none;
   /*  color: #e24a08;*/
    color: #f35b56;
    font-size: 30px;
    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
}



/*   Gallery  */

.Gallery
{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 45px;
    column-gap: 40px;
    row-gap: 40px;

    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 20px;
}

.Gallery a 
{

}

/*   create this size thumbnail and upload indivdually instead of cropping so i can make the thumbnail look better, and 
ROUND the edges   */
.Gallery a img
{
    height: 380px;
    width: 340px;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 5px;
}


/*   Conclusion Call to Action  */

.Collab
{
    padding-top: 100px;

}

.Collab_Q 
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.Collab_Q p
{
    font-family: 'Mellow Burgundy';
    font-size: 120px;
    margin: 0;
    margin-top: 6.5px;
    color: #f1b900;
    padding-right: 140px;
    position: relative;
    top: 20px;
}

.Collab_Q p:nth-child(2)
{
    font-family: 'Mellow Burgundy';
    font-size: 120px;
    margin: 0;
    margin-top: 6.5px;
    color: #f1b900;
    padding-left: 280px;
    position: relative;
    top: -2px;
}


.Collab_Action
{
    display:flex;
    justify-content: center;
}

.Collab_Action p
{
    color: #f35b56;
    font-size: 45px;
    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding-right: 175px;
    position: relative;
    top: -20px;
}

.Collab_Email 
{
    display: flex;
    justify-content: center;
}


.Collab_Email p
{
    color: #e47394;
    font-size: 70px;
    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    position: relative;
    top: 0px;
}

.Collab_Socials
{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 75px;

}

.Collab_Socials img
{
    height: 63px;
    width: auto;
    padding-bottom: 30px;
    padding-left: 70px;
    padding-right: 70px;
    
}

.Collab_Socials_Main a
{
        text-decoration: none;
}

.Collab_Socials_Second a
{
        text-decoration: none;
}


.Collab_Socials_Third img:nth-child(1)
{
    position: relative;
    left:-103px;
}

.Collab_Socials_Third img:nth-child(2)
{
    position: relative;
    right:-105px;
}

/*   Footer  */

footer
{


    display: flex;
height: 60px;
}

.footer_Credits
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;

    
}

.footer_Credits p:nth-child(1)
{
    margin: 0;
}

.footer_Credits p:nth-child(2)
{
    margin: 0;
}

.footer_Credits p:nth-child(3)
{
    margin: 0;
        font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footer_Credits p:nth-child(4)
{
    margin: 0;
}

.footer_BackToTop
{

}
}





